[submodule "setup"]
	path = setup
	url = https://sciabarra@github.com/sciabarra/agilesites2-setup
[submodule "lib"]
	path = lib
	url = https://sciabarra@github.com/agilesites/agilesites2-lib
[submodule "plugin"]
	path = plugin
	url = https://sciabarra@github.com/agilesites/agilesites2-build
[submodule "proto"]
	path = proto
	url = https://sciabarra@github.com/agilesites/agilesites2-proto
