.idea/
.history
target/
agilesites.local.properties
spoon.sh
.ipynb_checkpoints/
agilesites.log
WEB-INF
dist/project/WEB-INF/
dist/project/agilesites.ver
dist/project/repo/local/
sbt.sh
build.sh
attic/
docker/
agilesites.zip
dist/project/repo/exclude_classifiers
