[submodule "setup"]
	path = setup
	url = https://sciabarra@github.com/sciabarra/agilesites2-setup
[submodule "plugin"]
	path = plugin
	url = https://sciabarra@github.com/agilesites/agilesites2-build
[submodule "bigbang"]
	path = bigbang
	url = https://sciabarra@github.com/agilesites/agilesites2-bigbang
[submodule "nglib"]
	path = nglib
	url = https://sciabarra@github.com/sciabarra/agilesitesng-lib
