.cache
.project
.classpath
.history
.worksheet/
.settings/
target/
.idea/
*.iml
.DS_Store
version.txt
src/test/groovy/
src/main/resources/aaagile/ElementCatalog/AAA*.txt
src/main/resources/Api.groovy
