.classpath
.project
target/
project/project/
export/
src/main/java-12.1.4.0.1/agilesites/api/*Tag.java
src/main/java-11.1.1.8.0/agilesites/api/*Tag.java
src/main/resources/aaagile/ElementCatalog/AAAgile*.txt
agilesites.local.properties
src/test/groovy
